@use "./_variables" as *;
@use "./_breakpoints" as *;
@use "sass:color";

html {
    scroll-behavior: smooth;
}
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: $color-primary;
    color: #fff;
    padding: 0.5rem 0.75rem;
    z-index: 100;
    &:focus {
        top: 0;
    }
}
