$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

@mixin respond-until($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}
@mixin respond-from($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}
