@use "./_variables" as *;
@use "./_breakpoints" as *;
@use "sass:color";

.btn {
    padding: 0.75rem 1.5rem;
    background: $color-primary;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background: color.adjust($color-primary, $lightness: -10%);
    }
}
